@use 'variables.module';
.bookings{
    padding: 2rem;
    .bookings-container{
        width: 100%;
        // background-color: aqua;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        .order-container{
            width: 100%;
            // background-color: red;
            padding: 2rem;
            border-radius: 1rem;
            border: 2px solid variables.$gray;
            .header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .store-details-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    gap: 1rem;
                    .store-image{
                        img{
                            width: 7rem;
                            height: 7rem;
                            border-radius: 10000rem;
                            border: none;
                        }
                    }
                    .store-name-container{
                        display: flex;
                        flex-direction: column;
                        justify-self: center;
                        align-items: flex-start;
                        gap: 0.5rem;
                        p,h1{
                            display: flex;
                            justify-self: center;
                            align-items: center;
                            text-align: center;
                            gap: 0.5rem;
                        }
                        .store-name{
                            font-size: 2rem;
                        }
                        .store-address,.store-contact{
                            font-size: 1.3rem;
                            color : variables.$dark_gray
                        }
                    }
                }
                .order-status{
                    font-size: 1.3rem;
                    padding: 0.5rem 1rem;
                    background-color: aqua;
                    color: white;
                    border-radius: 9999px;
                    width: max-content;
                }
            }
            .body{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                // background-color: rgb(230, 152, 152);
                gap: 2rem;
                margin: 2rem 0;
                .order{
                    display: flex;
                    padding: 1rem;
                    gap: 2rem;
                    width: 100%;
                    border-radius: 1rem;
                    border: 2px solid variables.$gray;
                    .order-image-container{
                        img{
                            width: 13rem;
                            height: 13rem;
                            border-radius: 1rem;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    .order-details-container{
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                        .product-name{
                            font-size: 2rem;
                            max-width: 20ch;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .order-variants-container{
                            width: 100%;
                            display: flex;
                            gap: 1.5rem;
                            flex-wrap: wrap;
                            .variant{
                                gap: 0.8rem;
                                display: flex;
                            }
                            .variantAttr{
                                color: variables.$dark_gray;
                                font-size: 1.6rem;
                            }
                            .variantVal{
                                font-size: 1.6rem;
                                font-weight: 500;
                            }
                        }
                        .price-container{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-weight: 600;
                            font-size: 1.8rem;
                        }
                        .quantity-container{
                            width: 100%;
                            display: flex;
                            gap: 1.5rem;
                            .variantAttr{
                                color: variables.$dark_gray;
                                font-size: 1.6rem;
                            }
                            .variantVal{
                                font-size: 1.6rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .footer{
                .summary-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 2rem;
                    .totals{
                        width: max-content;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        align-self: flex-end;
                        .sub-total,.discount,.grand-total{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 1rem;
                            font-size: 1.6rem;
                        }
                    }
                    .price-container{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-weight: 600;
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
@media (max-width : 576px){
    .bookings .bookings-container .order-container .header{
        flex-direction: column;
        gap: 2rem;
    }
    .bookings .bookings-container .order-container .body .order .order-details-container .product-name{
        width: 100%;
        white-space: wrap;
    }
    .bookings .bookings-container .order-container .body .order .order-image-container img{
        height: 100%;
    }
}