@use "variables.module";
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4; 
    padding: 2rem;
    
    .modal-normal{
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 50ch;
        animation: popup 0.2s ease-out;
        .modal-header{
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        .modal-body{
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 1rem;
            width: 30ch;
            text-align: center;
            color: variables.$dark-gray;
        }
        .modal-button-group{
            width: 100%;
            display: flex;
            flex-direction: row;
            height: auto;
            gap: 1rem;

            .modal-primary-button,.modal-secondary-button{
                width: 100%;
                padding: 1rem;
                background-color: white;
                border: white;
                font-size: 1.8rem;
                font-weight: 600;
                font-family: inherit;
                cursor: pointer;
            }

        }
    }
}
@keyframes popup{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}